.input-email {
    background-color: transparent;
    border: 0px solid;
    max-width: 100%;
}

.input-email-book {
    background-color: transparent;
    border: 0px solid;
    text-align: center;
    max-width: 100%;
}

.mousse-over:hover {
    cursor: pointer;
}

.boutton-disable {
    pointer-events: none;
    opacity: 0.3;
}

.input-picker {
    background-color: transparent;
    border: 0px solid;
    text-align: center;
    color: #6165FF;
}

.flex-fill {
    flex: 1;
    width: 110%;
}

.hide {
    display: none;
}

.form-book {
    text-align: center;
}

.error-text {
    color: #910C21;
}

.card-arrow {
    opacity: 0;
    -webkit-transform: translate3d(0, 15PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 15PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 15PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 15PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)
}